.toggle {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2 linear;
}

.toggle.true {
    background-color: rgba(0, 0, 0, 0.5);
}

.toggle-input {
    height: 50px;
    width: 150px;
    background-color: #999;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 8px;
    transition: all 0.2 linear;
}

.toggle-input.true {
    background-color: white; 
}


.toggle-control {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: red;
    transition: all 0.2s linear;
}


.toggle-control.true {
    transform: translateX(95px);
}

