.game {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game-board {
    width: 200px;
    height: 200px;
    border: 1px solid #333;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.game-cell {
    border: 1px solid #333;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    margin-top: 20px;
}

.game-cell.is-x {
    color: #2cccff;
}

.game-cell.is-x {
    color: #ff6651;
}